.header {
    padding: 0.4em;
    background-color: silver;
    width: 800px;
    text-align: center;
}

.inputbox {
    background-color: lightgreen;
    width: 800px;
    display: flex;
    margin: 0.25em;
}

.inputboxleft {
    width: 400px;
    border: 0.05em solid black;
    padding: 0.1em;
    font: bold 14px arial, serif;
}

.circlebox {
    border-bottom: 0.05em solid black;
}

.inputboxright {
    width: 400px;
    border: 0.05em solid black;
    padding: 0.1em;
    font: bold 14px arial, serif;
}

.rectanglebox {
    border-bottom: 0.05em solid black;
}

#rectangleButton {
    margin: 0.5em;
}

#triangleButton {
    margin: 0.5em;
}

#circleButton {
    margin: 0.5em;
}

#squareButton {
    margin: 0.5em;
}

.shapebox {
    width: 800px;
    height: 600px;
    display: flex;
    margin: 0.25em;
    position: absolute;
}

.shape {
    cursor: pointer;
}

#shapeid {
    position: absolute;
}

.shape-info {
    background-color: lightblue;
    width: 200px;
    /* height: 600px; */
    border: 0.05em solid black;
    display: block;
    padding: 0.2em;
    margin: 0;
}

.shape-title {
    padding: 0;
    margin: 0;
}

.location-title {
    padding: 0.2em;
    margin: 0;
}

.location {
    background-color: white;
    width: 600px;
    /* height: 600px; */
    border: 0.05em solid black;
    position: relative;
}

